$nav-blue: #00274B;
$bos-blue: #4FADEA;
$background-blue: #EBEFF3;
$primary: $nav-blue;
$body-color: #161616;
$text-dark: #3A3A3A;
$red: #FF4545;
$light-green: #BFD40C;
$purple: #BC5FE3;
$orange: #F7941D;
$green: #39C67B;
$teal: #39C1C6;
$gray: #A6A39A;
$rubik: 'Rubik', sans-serif;
$inter: 'Inter', sans-serif;